parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - public/index.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Allow MockObject types in tests
        - '#MockObject#'
        # Allow PHPUnit specific methods
        - '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject::#'
        # Allow reflection-based operations in tests
        - '#Reflection#'
    bootstrapFiles:
        - vendor/autoload.php
    tmpDir: .phpstan-cache
    reportUnmatchedIgnoredErrors: false 